[yapf]
based_on_style = pep8
spaces_before_comment = 4
split_before_logical_operator = true


disable = missing-docstring,
          redefined-outer-name,
          invalid-name,
          unused-argument
